body {
  background-color: salmon;
}

#notification {
    width: 400px;
    height: 37px;
    box-sizing: border-box;
    padding: 9px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
}
