body {
  background-color: #dbdaca;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 20px;
}

.container {
  width: 400px;
  height: 400px;
  background-color: tomato;
  padding: 20px;
  box-sizing: border-box;
}


#notification {
  margin-top: 10px;
  width: 100%;
  height: 37px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

#notification b {
  margin: 0 3px;
  font-size: 20px;
  line-height: 0;
  text-transform: uppercase;
}

.score {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
}

.score h2 {
  text-transform: uppercase;
  background-color: black; 
  color: #fff;
  padding: 4px;
}




#userGuess {
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 35px;
}





#wins, #losses {
  color: salmon;
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  background-color: #2f2f2f;
  border-radius: 15px;
  font-size: 50px;
  padding-top: 16px;
  text-align: center;
  box-sizing: border-box;
}



.green {
  color: lime;
  text-transform: uppercase;
  display: inline-block;
}

.red {
  color: #ff2929;
  text-transform: uppercase;
  display: inline-block;
}



#guessesRemaining, #correctGuesses, #incorrectGuesses {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  background-color: #2f2f2f;
  border-radius: 50px;
  font-size: 50px;
  padding-top: 16px;
  text-align: center;
  box-sizing: border-box;
}

#guessesRemaining {
  color: white;
}

#correctGuesses {
  color: lime;
}

#incorrectGuesses {
  color: #ff2929; /* red */
}

#userGuess span {
  color: #ff2929;
  display: inline;
}


#alphabet div {
  width: 30px;
  height: 30px;
  background-color: #fff;
  float: left;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  padding-top: 4px;
  box-sizing: border-box;
  border-bottom: 1px solid #2f2f2f;
}

#alphabet {
  width: 399px;
}

