body {
  background-color: #dbdaca;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 110px;
}

.logo {
  float: left;
  width: 145px;
  text-align: center;
  height: 110px;
  background-color: #0f2238;
  color: #fff;
  box-sizing: border-box;
  padding: 10px 20px;
  letter-spacing: 2px;
  font-family: 'Permanent Marker', cursive;
}

.logo h1 {
  font-size: 28px;
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
}

.triangle {
  width: 20px;
  height: 110px;
  float: left;
  background-color: #182d4a;
  clip-path: polygon(0px 0px, 0px 110px, 20px 90px);
}

.scorebar {
  width: 100%;
  background-color: #253f67;
  height: 90px;
}

.score {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #0f2238;
  border-radius: 1px;
  display: inline-block;
  margin: 15px 10px 0px 0px;
  float: right;
}

.score h2 {
  text-transform: uppercase;
  background-color: #0f2238; 
  color: #fff;
  padding: 4px;
}

.score div {
  color: #2f2f2f;
}





#alphabet div {
  width: 30px;
  height: 30px;
  background-color: #fff;
  float: left;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  padding-top: 4px;
  box-sizing: border-box;
  border-bottom: 1px solid #2f2f2f;
}

#alphabet {
  background-color: #713162;
  width: 400px;
  box-sizing: border-box;
  padding: 20px;
  height: 160px;
  position: absolute; 
  bottom: 0;
}

#alphabet div {
    display: inline-block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #07526e;
    padding-top: 6px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* left: 30px; */
    /* position: relative; */
    cursor: pointer;
    border: none;
    background: #109bce;
    background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
    /* border-radius: 5px; */
    box-shadow: inset 0px 0px 0px #2ab7ec, 0px 2px 0px 0px #07526e;
}


button:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}

button:before {
  font-family: 'socialfont';
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  content:"\F020";
  width:85px;
  height:90px;
  display:block;
  position:absolute;
  padding-top:10px;
  top:10px;
  text-shadow: 1px 1px 2px #07526e;

}

button:active:before {
  top: 7px;
  font-size: 50px;
  text-shadow: 0px 3px 0px #07526e, 0px 5px 1px #07526e/*, 3px 0px 1px #07526e, 3px 3px 1px #07526e,
     -2px 0px 1px #68cff2*/;
}







.container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: tomato;
/*  padding: 20px;*/
  box-sizing: border-box;
}


#notification {
  margin-top: 10px;
  width: 100%;
  height: 37px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

#notification b {
  margin: 0 3px;
  font-size: 20px;
  line-height: 0;
  text-transform: uppercase;
}



#wins, #losses {
  
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}





#userGuess {
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 35px;
}







.green {
  color: lime;
  text-transform: uppercase;
  display: inline-block;
}

.red {
  color: #ff2929;
  text-transform: uppercase;
  display: inline-block;
}



#guessesRemaining, #correctGuesses, #incorrectGuesses {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  background-color: #2f2f2f;
  border-radius: 50px;
  font-size: 50px;
  padding-top: 16px;
  text-align: center;
  box-sizing: border-box;
}

#guessesRemaining {
  color: white;
}

#correctGuesses {
  color: lime;
}

#incorrectGuesses {
  color: #ff2929; /* red */
}

#userGuess span {
  color: #ff2929;
  display: inline;
}

