body {
  font-family: 'Open Sans', sans-serif;
  background: #b7b9bf; 
}

#container {
  position: relative;
  width: 400px;
  height: 525px;
  margin: 50px auto;
}

#container.default {
  background-color: #ffc04e;
  background: -webkit-linear-gradient(to right, #ffca23, #ffc04e);
  background: linear-gradient(to right, #ffca23, #ffc04e);
}

#container.loss {
  background-color: #ff0007;
  background: -webkit-linear-gradient(to right, #ff0007, #bf0000);
  background: linear-gradient(to right, #ff0007, #bf0000);
}

#container.win {
  background-color: #58cb00;
  background: -webkit-linear-gradient(to right, #58cb00, #00b200);
  background: linear-gradient(to right, #58cb00, #00b200);
}

header {
  height: 110px;
}

.logo {
  float: left;
  width: 145px;
  text-align: center;
  height: 110px;
  background-color: #0f2238;
  color: #fff;
  box-sizing: border-box;
  padding: 7px 20px;
  letter-spacing: 2px;
  font-family: 'Permanent Marker', cursive;
}

.logo h1 {
  font-size: 29px;
  text-shadow: 2px 2px #1e3f6a;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.triangle {
  width: 20px;
  height: 110px;
  float: left;
  background-color: #182d4a;
  clip-path: polygon(0 0, 0 110px, 20px 90px);
}

.scorebar {
  height: 90px;
  border-bottom: 2px solid #09223a;
  background-color: #253f67;
  background: -webkit-linear-gradient(to right, #1c2b42, #314f7d);
  background: linear-gradient(to right, #1c2b42, #314f7d);
}

.score {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #0f2238;
  border-radius: 1px;
  display: inline-block;
  margin: 15px 10px 0 0;
  float: right;
  box-shadow: 1px 1px 0 0 #122d4c, 2px 2px 0 0 #122d4c, 3px 3px 0 0 #122d4c;
}
.score h2 {
  text-transform: uppercase;
  background-color: #0f2238;
  color: #fff;
  padding: 4px;
}
.score div {
  color: #2f2f2f;
}

#alphabet div {
  width: 30px;
  height: 30px;
  background-color: #fff;
  font-weight: 800;
  float: left;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  padding-top: 4px;
  box-sizing: border-box;
  color: #2f2f2f;
  padding-top: 7px;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 #555555;
}
#alphabet div:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 0;
}


#alphabet.default {
  border-top: 2px solid #d56b00; 
}
#alphabet.win {
  border-top: 2px solid #2f7f00; 
}
#alphabet.loss {
  border-top: 2px solid #a40000; 
}



#alphabet {
  background-color: #47295e;
  background: -webkit-linear-gradient(to right, #692662, #47295e);
  background: linear-gradient(to right, #692662, #47295e);
  width: 400px;
  box-sizing: border-box;
  padding: 20px;
  height: 160px;
  position: absolute;
  bottom: 0;
}

#alphabet .incorrect {
    background-color: #fa2727;
    color: #fff;
    box-shadow: 2px 2px 0 0 #8b0000;
    text-shadow: 1px 1px #8b0000;
}
#alphabet .correct {
    background-color: #76c719;
    color: #fff;
    box-shadow: 2px 2px 0 0 #53722e;
    text-shadow: 1px 1px #53722e;
}

#notification {
    margin: 20px 20px 0 20px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #2f2f2f;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}

#notification.default, #userGuess.default {
  box-shadow: 0 1px 0 0 #d37500, 0 2px 0 0 #d37500;
}
#notification.win, #userGuess.win {
  box-shadow: 0 1px 0 0 #49791c, 0 2px 0 0 #49791c;
}
#notification.loss, #userGuess.loss {
  box-shadow: 0 1px 0 0 #930000, 0 2px 0 0 #930000;
}


#notification b {
    margin: 0 3px;
    font-size: 16px;
    line-height: 0;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 5px;
}


#userGuess {
    margin: 15px 20px 20px 20px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #2f2f2f;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    height: auto;
    text-align: center;
    font-size: 35px;
}



.lower {
    float: left;
    width: 128px;
    margin-top: 6px;
    background-color: #8f2068;
    height: 90px;
 /*   bottom: 0;*/
    box-sizing: border-box;
    border-bottom: 2px solid #7c005b;
}
.raised {
    float: left;
    width: 124px;
    height: 90px;
    background-color: #772364;
/*   margin: 0px;*/
    box-sizing: border-box;
    border-bottom: 2px solid #581846;
}
.left {
    float: left;
    width: 10px;
    height: 100px;
    background-color: #720f59;
    clip-path: polygon(0 6px, 11px 0, 11px 90px, 0 96px);
}
.right {
    float: left;
    width: 10px;
    height: 100px;
    background-color: #720f59;
    clip-path: polygon(0 0, 11px 6px, 11px 96px, 0 90px);
}


#wins,
#losses {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
}

.box {
    width: 100px;
    height: 63px;
    text-align: center;
    background-color: #fff;
    border-radius: 1px;
    display: inline-block;
    margin: 13px;
    border: 1px solid #3d0d2f;
    box-shadow: 1px 1px 0 0 #3d0d2f, 2px 2px 0 0 #3d0d2f, 3px 3px 0 0 #3d0d2f;
}
.box h2 {
    text-transform: uppercase;
    font-size: 15px;
    background-color: #521e44;
    color: #ffffff;
    padding: 4px;
    letter-spacing: 1px;
    border-bottom: 1px solid #3d0d2f;
    text-shadow: 2px 2px #3d0d2f;
}
.box div {
    padding-top: 1px;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
}

.green {
    color: #58cb00;
    text-transform: uppercase;
    display: inline-block;
}
.red {
    color: #ff0007;
    text-transform: uppercase;
    display: inline-block;
}

#correctGuesses {
    color: #58cb00;
}
#guessesRemaining {
    color: #2f2f2f;
}
#incorrectGuesses {
    color: #ff0007;
}
#userGuess span {
    color: #ff2929;
    display: inline;
}